[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
autopep8 = "*"
selenium = "==3.141.0"
webdriver-manager = "*"

[requires]
python_version = "3.9"
